# Data Merging

<h2>Soal 1: Penggabungan Data</h2>

- Sebutkan perbedaan antara full outer join, inner join, dan left join

Full outer join adalah penggabungan data untuk semua index pada data tersebut, untuk data dengan index null maka tetap akan ditulis namun dengan keterangan null/nan.

Inner join adalah penggabungan data dengan key dan value harus berisi keduanya, apabila ada index yang kosong maka kolom dan baris tidak akan ditulis.

Left koin adalah penggabungan data dengan memperhatikan kolom sebelah kiri ditambah data kanan yang memiliki nilai key yang sama degan data dari kiri.

<h2>Soal 2: Penggabungan Data</h2>

Pada quiz no 2 ini gunakan data [names1881.csv](https://drive.google.com/uc?export=download&id=1Pwu3cv93hI79jmi52kJ05xhophknDKat) dan [names1981.csv](https://drive.google.com/uc?export=download&id=1pvsGaybr423hJXcN35e5nS3sg4ha4jo3), data ini berisi nama bayi yang lahir pada tahun 1881 atau 1981 di Amerika.

- Baca data tersebut dengan memberikan nama column 'Name', 'Gender', 'Count'.
- Tunjukan jumlah dimensi dari data 'names1881.csv' dan 'names1981.csv'
- Gabungkan kedua data tersebut berdasarkan sumbu baris
- Tunjukan jumlah dimensi dari data setelah di gabungkan.

In [134]:
import pandas as pd
# read data

df1 = pd.read_csv('names1881.csv', header=None, names=['Name', 'Gender', 'Count'])
df1

           Name Gender  Count
0          Mary      F   6919
1          Anna      F   2698
2          Emma      F   2034
3     Elizabeth      F   1852
4      Margaret      F   1658
...         ...    ...    ...
1930     Wiliam      M      5
1931     Wilton      M      5
1932       Wing      M      5
1933       Wood      M      5
1934     Wright      M      5

[1935 rows x 3 columns]

In [136]:
# read data

df2 = pd.read_csv('names1981.csv', header=None, names=['Name', 'Gender', 'Count'])
df2

           Name Gender  Count
0      Jennifer      F  57032
1       Jessica      F  42519
2        Amanda      F  34370
3         Sarah      F  28162
4       Melissa      F  28003
...         ...    ...    ...
19450  Zeferino      M      5
19451   Zerrick      M      5
19452  Zimbabwe      M      5
19453    Zoltan      M      5
19454    Zuriel      M      5

[19455 rows x 3 columns]

In [138]:
# periksa dimensi dari kedua data
print("Jumlah Dimensi data 'names1881.csv' :")
print(df1.shape)
print("Jumlah Baris data 'names1981.csv' :")
print(df2.shape)

Jumlah Dimensi data 'names1881.csv' :
(1935, 3)
Jumlah Baris data 'names1981.csv' :
(19455, 3)

In [140]:
# gabungkan data

df = pd.concat([df1, df2])
df

            Name Gender  Count
0           Mary      F   6919
1           Anna      F   2698
2           Emma      F   2034
3      Elizabeth      F   1852
4       Margaret      F   1658
...          ...    ...    ...
19450   Zeferino      M      5
19451    Zerrick      M      5
19452   Zimbabwe      M      5
19453     Zoltan      M      5
19454     Zuriel      M      5

[21390 rows x 3 columns]

In [142]:
# periksa dimensi data hasil gabungan
print("Jumlah dimensi data setelah penggabungan : ")
print(df.shape)

Jumlah dimensi data setelah penggabungan :
(21390, 3)

Expected Result: 

Jumlah Dimensi data 'names1881.csv': 

(1935, 3)

Jumlah Baris data 'names1981.csv':

(19455, 3)

![alt text](https://drive.google.com/uc?id=1jMCAdLrcJubjufydZBnzdQkYqDS3Klat)

Jumlah dimensi data setelah penggabungan : 

(21390, 3)

<h2>Soal 3: Penggabungan Data</h2>

Lakukan jenis penggabungan data full outer join, inner join, left outer join dan right outer join pada kedua data berikut:

In [144]:
import pandas as pd

data1 = {
    'id' : [1, 2, 3, 4],
    'Feature1' : ['a1', 'a2', 'a3', 'a4'],
    'Feature2' : ['b1', 'b2', 'b3', 'b4']
}

data2 = {
    'id' : [3, 4, 5 ,6, 7],
    'Feature3' : ['c1', 'c2', 'c3', 'c4', 'c5']
}

df3= pd.DataFrame(data1)
df4= pd.DataFrame(data2)

print(df3)
print(df4)

   id Feature1 Feature2
0   1       a1       b1
1   2       a2       b2
2   3       a3       b3
3   4       a4       b4
   id Feature3
0   3       c1
1   4       c2
2   5       c3
3   6       c4
4   7       c5

In [146]:
#join data

df_outer_join = pd.merge(df3, df4, on='id', how='outer')
print(df_outer_join)

   id Feature1 Feature2 Feature3
0   1       a1       b1      NaN
1   2       a2       b2      NaN
2   3       a3       b3       c1
3   4       a4       b4       c2
4   5      NaN      NaN       c3
5   6      NaN      NaN       c4
6   7      NaN      NaN       c5

In [148]:
#join data

df_inner_join = pd.merge(df3, df4, on='id', how='inner')
print(df_inner_join)

   id Feature1 Feature2 Feature3
0   3       a3       b3       c1
1   4       a4       b4       c2

In [150]:
#join data

df_left_join = pd.merge(df3, df4, on='id', how='left')
print(df_left_join)

   id Feature1 Feature2 Feature3
0   1       a1       b1      NaN
1   2       a2       b2      NaN
2   3       a3       b3       c1
3   4       a4       b4       c2

In [154]:
#join data

df_right_join = pd.merge(df3, df4, on='id', how='right')
print(df_right_join)

   id Feature1 Feature2 Feature3
0   3       a3       b3       c1
1   4       a4       b4       c2
2   5      NaN      NaN       c3
3   6      NaN      NaN       c4
4   7      NaN      NaN       c5

Expected Result:

![alt text](https://drive.google.com/uc?id=1kUpkzWh3Y-X_1H1QXHiccdHf4YjqXsDu)

![alt text](https://drive.google.com/uc?id=1ojoAC2oX9P3ZHl0lS3RXipd7gShLOmmC)

![alt text](https://drive.google.com/uc?id=12jDnQzIosn6dizVwl2nPMX1IhhyEZ4FA)

![alt text](https://drive.google.com/uc?id=11znqscNsVZ-cHY-PPgoHEBDWyc6XRtAL)

<h2>Soal 4: Penggabungan Data berbeda label column Key</h2>

Lakukan jenis penggabungan inner join untuk 2 data yang memiliki nama column key yang berbeda ini:

In [156]:
data1 = {
    'key_data1' : [1, 2, 3, 4],
    'Feature1' : ['a1', 'a2', 'a3', 'a4'],
    'Feature2' : ['b1', 'b2', 'b3', 'b4']
}

data2 = {
    'key_data2' : [3, 4, 5 ,6, 7],
    'Feature3' : ['c1', 'c2', 'c3', 'c4', 'c5']
}

df5= pd.DataFrame(data1)
df6= pd.DataFrame(data2)

print(df5)
print(df6)

   key_data1 Feature1 Feature2
0          1       a1       b1
1          2       a2       b2
2          3       a3       b3
3          4       a4       b4
   key_data2 Feature3
0          3       c1
1          4       c2
2          5       c3
3          6       c4
4          7       c5

In [158]:
# Gabungkan kedua data tersebut

df_inner_join_1 = pd.merge(df5, df6, left_on='key_data1', right_on='key_data2', how='inner')
print(df_inner_join_1)

   key_data1 Feature1 Feature2  key_data2 Feature3
0          3       a3       b3          3       c1
1          4       a4       b4          4       c2

Expected Result:

![alt text](https://drive.google.com/uc?id=1uBiVOPnqns4al88FDc0ENIeTzIxP4wxH)



---



---

# Data GroupBy

<b>Note</b>: Pada kuis kali ini kita akan menggunakan data diamonds.csv yang bisa kalian download [disini](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd). setelah di download, kalian pindahkan data tersebut satu level dengan direktori file notebook ini.

In [186]:
import pandas as pd
df7 = pd.read_csv('diamonds.csv')
df7.drop('Unnamed: 0', axis=1, inplace=True)

In [194]:
df7.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

Columns Metadata:

carat: berat diamond

cut: kualitas diamond

color: warna diamond

clarity: level kemurnian diamonds

depth: tinggi dari diamond tabel

table: lebar  dari diamond tabel

price: harga diamond ($US)

x: panjang

y: lebar

z: kedalaaman

<h2>Soal 5: Process Grouping</h2>

Jelaskan prosess yang terjadi dalam grouping data menggungkan method <b>groupby()</b> dari pandas.

jawab:
Splitting : Memisahkan data kedalam suatu group berdasarkan kriteria tertentu.
Applying : Melakukan suatu operasi terhadap sekumpulan data di group-group tersebut.
Combining : Menggabungkan data menjadi suatu struktur baru

<h2>Soal 6: Grouping All Column</h2>
    
Group data diamond berdasarkan cut (kualitas), lakukan aggregasi dengan fungsi rata2.

In [226]:
#code here

#df7.groupby('cut').mean() #eror TypeError: agg function failed [how->mean,dtype->object]

df7.groupby('cut').mean(numeric_only=True)

,carat,depth,table,price,x,y,z
cut,,,,,,,
Fair,1.046137,64.041677,59.053789,4358.757764,6.246894,6.182652,3.982770
Good,0.849185,62.365879,58.694639,3928.864452,5.838785,5.850744,3.639507
Ideal,0.702837,61.709401,55.951668,3457.541970,5.507451,5.520080,3.401448
Premium,0.891955,61.264673,58.746095,4584.257704,5.973887,5.944879,3.647124
Very Good,0.806381,61.818275,57.956150,3981.759891,5.740696,5.770026,3.559801

Expected Output:

![alt text](https://drive.google.com/uc?id=1GKanuLzNv_pYBFVRBmQywxQw39uQBvSl)

<h2>Soal 7: Grouping Some Column base on Multiple Criteria</h2>
    
Lakukan groupby pada data berdasarkan kriteria cut (kualitas) dan color (warna) secara berurutan, dengan aggregasi pada column carat, table, dan price saja. dengan fungsi agregasi rata-rata.

In [220]:
#code here

df7.groupby(['cut', 'color'])[['carat', 'table', 'price']].mean()

                    carat      table        price
cut       color
Fair      D      0.920123  58.969325  4291.061350
          E      0.856607  59.364732  3682.312500
          F      0.904712  59.453205  3827.003205
          G      1.023822  58.773248  4239.254777
          H      1.219175  58.696370  5135.683168
          I      1.198057  59.237143  4685.445714
          J      1.341176  58.917647  4975.655462
Good      D      0.744517  58.541541  3405.382175
          E      0.745134  58.779957  3423.644159
          F      0.775930  58.910891  3495.750275
          G      0.850896  58.471986  4123.482204
          H      0.914729  58.611111  4276.254986
          I      1.057222  58.773946  5078.532567
          J      1.099544  58.813029  4574.172638
Ideal     D      0.565766  55.965632  2629.094566
          E      0.578401  55.967461  2597.550090
          F      0.655829  55.924203  3374.939362
          G      0.700715  55.902375  3720.706388
          H      0.799525  55.965843  3889.334831
          I      0.913029  56.021357  4451.970377
          J      1.063594  56.012612  4918.186384
Premium   D      0.721547  58.718964  3631.292576
          E      0.717745  58.779461  3538.914420
          F      0.827036  58.679279  4324.890176
          G      0.841488  58.702360  4500.742134
          H      1.016449  58.792034  5216.706780
          I      1.144937  58.771849  5946.180672
          J      1.293094  58.874752  6294.591584
Very Good D      0.696424  58.041309  3470.467284
          E      0.676317  58.038875  3214.652083
          F      0.740961  57.848429  3778.820240
          G      0.766799  57.784428  3872.753806
          H      0.915948  57.903015  4535.390351
          I      1.046952  58.105150  5255.879568
          J      1.133215  58.277729  5103.513274

Expected Output:

Note: gambar hanya sebagaian dari keseluruhan data

![alt text](https://drive.google.com/uc?id=1XB_uHor7ZCPQUH9uQjSfd6aC6_yJnjh9)

<h2>Soal 8: Group By Multiple Aggregate Base on Multiple Criteria</h2>
    
Lakukan groupby pada data berdasarkan kriteria cut(kualitas) dan color (warna) secara berurutan kemudian aggregasi objek group by nya dengan fungsi rata2 dan median.

In [321]:
#code here

df7.groupby(['cut', 'color']).agg(['mean', 'median']) #error versi anaconda

TypeError: agg function failed [how->mean,dtype->object]

Expected Output:

Note : gambar hanya sebagaian dari keseluruhan data

![alt text](https://drive.google.com/uc?id=1fUPIse5ELrzj26ZyWBqsAVOUb6yf7UoD)

<h2>Soal 9: Group By With Different Aggregation for specific Column</h2>
    
Lakukan groupby pada data berdasarkan criteria cut(kualitas), kemudian aggreagate dengan fungsi max pada column price dan fungsi min pada column carat.

In [293]:
#code here

df7.groupby('cut').agg({'price': 'max', 'carat': 'min'})

           price  carat
cut
Fair       18574   0.22
Good       18788   0.23
Ideal      18806   0.20
Premium    18823   0.20
Very Good  18818   0.20

Expected Output:

![alt text](https://drive.google.com/uc?id=1B_z5PBkLe4hNJJJV3JgDGP9G--llytKf)

<h2>Soal 10: Group By With Custom Function</h2>
    
Lakukan groupby pada data berdasarkan criteria cut(kualitas), kemudian lakukan aggregasi dengan fungsi standar deviasi pada column carat dan fungsi rentang nilai antara max dan min pada column price.

In [289]:
#code here

df7.groupby('cut').agg({'price': lambda x: max(x) - min(x), 'carat': 'std'})

           price     carat
cut
Fair       18237  0.516404
Good       18461  0.454054
Ideal      18480  0.432876
Premium    18497  0.515262
Very Good  18482  0.459435

Expected Output:

![alt text](https://drive.google.com/uc?id=1bl6_8KryXCxLfzpAf4YF80Qvt15a3uQ6)



---



---