<h2>Soal 1: Comparison Operator</h2>

- Berikan contoh comparison dari tipe data string
- Berikan contoh comparison dari tipe data boolean
- Berikan contoh comparison dari tipe data integer

In [28]:
#contoh comparison dari tipe data string
a = 'belajar'
b = 'python'
print(a == b)
print(a != b)

#contoh comparison dari tipe data boolean
a = True
b = False
print(a == b)
print(a != b)

#contoh comparison dari tipe data integer
a = 10
b = 5
print(a>b)
print(a<b)

False
True
False
True
True
False



---



---

<h2>Soal 2: Boolean Comparison</h2>

- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'and'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'or'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'not'

In [36]:
nilai = 70
kehadiran = 80 #persentase 100%

#and
if nilai >= 60 and kehadiran >= 80:
    print('Lulus')
else:
    print('Tidak Lulus')
    
#or
if nilai >= 80 or kehadiran >= 80:
    print('Lulus')
else:
    print('Tidak Lulus')
    
#not
if not nilai < 80:
    print('Lulus')
else:
    print('Tidak Lulus')

Lulus
Lulus
Tidak Lulus



---



---

<h2>Soal 3: If-Else Statement</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

- Bualah sebuah if-else statement yang dimana akan mem-print 'High' jika grade adalah 'A' dan price lebih dari 100000, kemudian mem-print 'Medium' jika grade adalah 'A' dan price lebih dari 50000 dan memprint 'low' jika grade adalah 'A' dan price lebih kecil dan sama dengan 50000.

In [46]:
#code here
grade = 'A'
price = 80000

if grade == 'A' and price > 100000:
    print('High')
elif grade == 'A' and price > 50000:
    print('Medium')
elif grade == 'A' and price <= 50000:
    print('Low')

Medium



---



---

<h2>Soal 4: Comparison Operator dengan fungsi</h2>

Buatlah sebuah fungsi yang menerima satu argument bertipe data numeric dan menghasilkan sebuah return sebagai berikut :
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan ganjil
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 2 sampai 5 (2 dan 5 termasuk)
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 6 sampai 20 (6 dan 20 termasuk)
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan lebih besari dari 20

In [49]:
# Buat fungsi
nilai = [1, 2, 3, 4, 5, 6, 8, 10, 11, 15, 20, 21, 22]

for data in nilai:
    if data % 2 != 0:
        print('Aneh')
    elif data % 2 == 0 and data >= 2 and data <= 5:
        print('Tidak Aneh')
    elif data % 2 == 0 and data >= 6 and data <= 20:
        print('Aneh')
    elif data % 2 == 0 and data > 20:
        print('Tidak Aneh')

Aneh
Tidak Aneh
Aneh
Tidak Aneh
Aneh
Aneh
Aneh
Aneh
Aneh
Aneh
Aneh
Aneh
Tidak Aneh



---



---

<h2>Soal 5: While Loop dan For Loop</h2>

- Apa perbedaan while loop dan for loop?
- Berikan contoh sederhana cara menggunakan while loop dan for loop

jawaban perbedaan

In [57]:
# jawaban contoh
While loop berfungsi untuk melakukan pengulangan dengan jumlah yang tidak didefinisikan di awal dan akan berakhir apabila diberikan statement tertentu.
Statement yang biasa digunakan yaitu break, continue, dan pass.
Sedangkan for loop berfungsi untuk pengulangan namun jumlah pengulangannya sudah didefinisikan di awal.


#while loop
data = 0
while data < 5:
    print(data, end = ' ')
    data += 1
print('\n')

#for loop
for data in range(5):
    print(data, end = ' ')

0 1 2 3 4

0 1 2 3 4



---



---

<h2>Soal 6: While Loop</h2>
    
Buatlah sebuah code while loop sebagai berikut :
- Buatlah suatu fungsi yang menerima satu input nilai numerik
- Dalam fungsi, Buat sebuah while-loop dengan melakukan comparasi terhadap inputan tersebut, dimana looping/iterasi terus berjalan apabila nilai inputan tidak sama dengan 0
- Dalam setiap iterasi update nilai variable inputan itu, jika input lebih dari 0, maka kurangi variabel tersebut sebesar 1, selain itu tambahkan 1
- print nilai variable input dalam setiap awal iterasi

In [65]:
a = 10
b = -10

def fungsi_while(angka):
    while angka != 0:
        print(angka)
        if angka < 0:
            angka += 1
        else:
            angka -= 1

fungsi_while(a)
fungsi_while(b)

10
9
8
7
6
5
4
3
2
1
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Expected Output:

jika a = 10                           

10                                   
9                      
8   
7   
6  
5  
4  
3  
2  
1

jika a = -10

-10                                   
-9                        
-8  
-7  
-6  
-5  
-4  
-3  
-2  
-1



---



---

<h2>Soal 7: For Loop</h2>

Lengkapi kode untuk menghasilkan suatu output yang diharapkan:





*   Cari siswa mana saja yang memiliki nilai lebih dari sama dengan 80. Masukkan kedalam sebuah list. print hasilnya

In [100]:
data_siswa = [
    {
        "nama":"Budi",
        "nilai": 90
    },
    {
        "nama":"Nina",
        "nilai": 78
    },
    {
        "nama":"Rudi",
        "nilai": 91
    },
    {
        "nama":"Olivia",
        "nilai": 76
    },
    {
        "nama":"Leo",
        "nilai": 80
    },
    {
        "nama":"Liam",
        "nilai": 67
    },
    {
        "nama":"Sheila",
        "nilai": 76
    }
]

nama_siswa_lulus=[]
for nama in data_siswa:
    if nama['nilai'] >= 80:
        nama_siswa_lulus.append(nama['nama'])

print(nama_siswa_lulus)

['Budi', 'Rudi', 'Leo']

Expected output:

['Budi', 'Rudi', 'Leo']



---



---

<h2>Soal 8: For Loop Enumerate</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan:

- Buatlah sebuah loop dengan mengiterasi sebuah objek list kemudian di kalikan dengan index dari list tersebut dan print hasilnya

In [79]:
obj_list= [1, 16, 11, 10, 5]

# lengkapi code di bawah
for i in range(len(obj_list)):
    print(obj_list[i]*i)

0
16
22
30
20

Expected Output:

0

16

22

30

20



---



---